# Node dependencies
node_modules/

# dotenv environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Runtime
tmp/
temp/
.cache/

# Build output
dist/
build/
coverage/

# Editor directories and files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
*.seed
*.pid
*.swp
*~
